# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Override syntax highlighting
*.fypp linguist-language=fortran

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.f90 text
*.F90 text
*.md text
*.txt text
*.sh text
*.cu text

# Denote all files that are truly binary and should not be modified.
*.mod binary
*.o binary
*.a binary
*.so binary
*.tar binary
*.gz binary
*.tgz binary

# Prevent dev-ops files from making it into the release archives
.gitattributes export-ignore
.gitignore export-ignore
codecov.yml export-ignore
.github export-ignore

# Perform substitutions when `git export`ing these files
.VERSION export-subst 
